#-----------------
# FRONTEND (NextJS)
#-----------------
API_URL=http://localhost:4444
NEXT_PUBLIC_TMDB_IMAGE_BASE_URL=https://image.tmdb.org

#-----------------
# COMMON
#-----------------
NODE_ENV=development