# NETWORK
BACKEND_PORT=4444
FRONTEND_PORT=8888
POSTGRES_PORT=5432

# POSTGRES
POSTGRES_DB=yatg
POSTGRES_USER=yatg
POSTGRES_PASSWORD=yatg

# BACKEND (NestJS)
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}
TMDB_API_URL=https://api.themoviedb.org
TMDB_API_KEY=tmdb_api_key
TMDB_IMAGE_BASE_URL=https://image.tmdb.org
JWT_SECRET=jwt_secret
NODE_ENV=development

# FRONTEND (NextJS)
NEXT_PUBLIC_API_URL=http://localhost:${BACKEND_PORT}