NODE_ENV=development
DATABASE_URL=postgresql://yatg:yatg@localhost:5432/yatg
TMDB_API_URL=https://api.themoviedb.org
TMDB_API_TOKEN=tmdb_api_token
TMDB_IMAGE_BASE_URL=https://image.tmdb.org
DB_HEALTH_CHECK_INTERVAL=30000
DB_HEALTH_CHECK_TIMEOUT=3000
COOKIE_SECRET=cookie_secret