DATABASE_URL=postgresql://yatg:yatg@127.0.0.1:5432/yatg

PORT=4444
HEALTH_PORT=4445

TMDB_API_URL=https://api.themoviedb.org
# https://www.themoviedb.org/settings/api
TMDB_API_TOKEN=

# $ node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=
JWT_REFRESH_SECRET=

JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

PASSWORD_PWNED_VALIDATION_ENABLED=1
PASSWORD_PWNED_VALIDATATION_CACHE_TTL=0
PASSWORD_PWNED_MAX_CACHE_RECORDS=1000
PASSWORD_PWNED_HIBP_URL=https://api.pwnedpasswords.com

LOG_LEVEL=verbose
NODE_ENV=development
